<%- include("header") -%>

<h2>Om mig</h2>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus
  blanditiis rem at tenetur possimus laudantium nulla? Eos aliquam doloribus
  quaerat, veniam inventore sint maiores incidunt beatae optio ducimus. Maxime,
  quod.
</p>

<%- include("footer") -%>
